* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  height: fit-content;
}
.blog-card {
  border: 3px solid;
  padding: 20px;
  margin: 1rem;
}

.blog-card h2 {
  border-bottom: 2px solid;
}

.blog-card p {
  padding: 10px;
}

.blogs-list .blog-card:last-child {
  margin-bottom: 0;
}
