* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.blogs-list {
  min-height: 82vh;
}
.blog-card {
  border: 3px solid;
  padding: 20px;
  margin: 1rem;
  padding-bottom: 0;
}

.blog-card h2 {
  border-bottom: 2px solid;
}

.blog-card p {
  padding: 20px 0;
}

.blog-card p:last-child {
  margin-bottom: 0;
  font-style: italic;
}
