* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 10px solid black;
  border-style: double;
  width: 100%;
  padding: 10px;
}

.blog-entry {
  display: flex;
  height: 100vh;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 3px solid black;
  margin-right: 2px;
  width: 50%;
}

.blog-form {
  border-left: 3px solid black;
  width: 50%;
  margin-left: 2px;
  text-align: center;
}

.toggle-switch {
  display: flex;
  font-size: 2.5rem;
  align-items: center;
}
/* Styling the Switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(227, 227, 214);
}

input:focus + .slider {
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  border: 1px solid black;
}

/* Dark Mode */
.dark {
  background-color: #5c646a;
  color: #bebebe;
  height: 100vh;
}

/* Light Mode */
.light {
  background-color: #f0ead6;
  color: black;
  height: 100vh;
}

.section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  display: block;
}
